table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  /* td {
    cursor: pointer; 
  } */
  mat-icon{
    padding: 20px;
    cursor: pointer;
  }

  .flex-container{
    display: flex;
    justify-content: flex-start;
  }

  /* .flex-container .filter{
    width: 30%;
  } */
  .flex-container .condition{
    width: 100%;
  }
  .flex-container .condition mat-form-field {
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .flex-container .action{
    width: 10%;
  }
  .flex-container .action button{
    margin-top: 10px;
    float: right;
  }
