<div class="flex-container">
    <div class="condition">
        <mat-form-field appearance="fill" class="demo-full-width">
            <mat-label>Chọn ngày</mat-label>
            <input matInput [matDatepicker]="dp" [(ngModel)]="date" (ngModelChange)="changeDate()">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="copyMenu()">Sao chép thực đơn</button>
    </div>
</div>

<mat-card>
    <mat-tab-group>
        <mat-tab label="Đồ ăn sáng">
            <app-list-product [date]="date" [tab]="'breakfast'" [lisProduct]="menu?.breakfast || []"></app-list-product>
        </mat-tab>
        <mat-tab label="Đồ ăn trưa">
            <app-list-product [date]="date" [tab]="'lunch'" [lisProduct]="menu?.lunch || []"></app-list-product>
        </mat-tab>
        <mat-tab label="Đồ uống">
            <app-list-product [date]="date" [tab]="'drinks'" [lisProduct]="menu?.drinks || []"></app-list-product>
        </mat-tab>
    </mat-tab-group>
</mat-card>