.flex-container {
    display: flex;
    justify-content: flex-end;
    /* background-color: DodgerBlue; */
  }

  mat-icon{
      cursor: pointer;
  }

.flex-container button {
    margin-left: 10px;
}

