<div class="flex-container">
    <div class="condition">
        <mat-form-field appearance="fill">

            <input matInput [(ngModel)]="dateRange"
                   placeholder="Chọn ngày"
                   [satDatepicker]="orderdate" [max]="maxDate">
            <sat-datepicker #orderdate [rangeMode]="true" [selectFirstDateOnClose]="true" [endDate]="1" >
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="orderdate" ></sat-datepicker-toggle>
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="getData()">Thống kê</button>

    </div>

</div>
<!-- column -->
<mat-card class="content-table">
    <!-- <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
            <h4>Thông tin thống kê</h4>
        </mat-grid-tile>
    </mat-grid-list> -->
    <div class="flex-around">
        <h4>Thông tin thống kê</h4>
    </div>
    <mat-card-content>
        <table>
            <tr>
                <td rowspan="2" class="txt-bold text-center">Loại hoá đơn</td>
                <td colspan="2" class="txt-bold text-center">Hình thức thanh toán</td>
                <td colspan="3" class="txt-bold text-center">Trạng thái thanh toán</td>
                <td colspan="2" class="txt-bold text-center">Tổng tiền (đơn vị: vnđ)</td>

            </tr>
            <tr>
                <td class="txt-bold text-center">Online</td>
                <td class="txt-bold text-center">Tiền mặt</td>
                <td class="txt-bold text-center">Đã thanh toán</td>
                <td class="txt-bold text-center">Chưa thanh toán</td>
                <td class="txt-bold text-center">Đã hoàn tiền</td>
                <td class="txt-bold text-center">Đã thu</td>
                <td class="txt-bold text-center">Chưa thu</td>
            </tr>
            <tr>
                <td class="txt-bold">Đã hoàn thành</td>
                <td class="text-center">{{(doneBill?.totalOnlinePayment || 0) |number}}</td>
                <td class="text-center">{{(doneBill?.offlinePayment || 0) |number}}</td>
                <td class="text-center">{{(doneBill?.paymentSuccess || 0) |number}}</td>
                <td class="text-center">{{(doneBill?.paymentPending || 0) |number}}</td>
                <td class="text-center">{{(doneBill?.paymentCanceled || 0) |number}}</td>
                <td class="text-center">{{(doneBill?.totalPrice || 0) |number}}</td>
                <td class="text-center">{{(doneBill?.totalPendingPrice || 0) |number}}</td>
            </tr>

            <tr>
                <td class="txt-bold">Đang giao hàng</td>
                <td class="text-center">{{(transportBill?.totalOnlinePayment || 0) |number}}</td>
                <td class="text-center">{{(transportBill?.offlinePayment || 0) |number}}</td>
                <td class="text-center">{{(transportBill?.paymentSuccess || 0) |number}}</td>
                <td class="text-center">{{(transportBill?.paymentPending || 0) |number}}</td>
                <td class="text-center">{{(transportBill?.paymentCanceled || 0) |number}}</td>
                <td class="text-center">{{(transportBill?.totalPrice || 0) |number}}</td>
                <td class="text-center">{{(transportBill?.totalPendingPrice || 0) |number}}</td>
            </tr>
            <tr>
                <td class="txt-bold">Đã xác nhận</td>
                <td class="text-center">{{(acceptBill?.totalOnlinePayment || 0) |number}}</td>
                <td class="text-center">{{(acceptBill?.offlinePayment || 0) |number}}</td>
                <td class="text-center">{{(acceptBill?.paymentSuccess || 0) |number}}</td>
                <td class="text-center">{{(acceptBill?.paymentPending || 0) |number}}</td>
                <td class="text-center">{{(acceptBill?.paymentCanceled || 0) |number}}</td>
                <td class="text-center">{{(acceptBill?.totalPrice || 0) |number}}</td>
                <td class="text-center">{{(acceptBill?.totalPendingPrice || 0) |number}}</td>
            </tr>
            <tr>
                <td class="txt-bold">Chưa xác nhận</td>
                <td class="text-center">{{(pendinglBill?.totalOnlinePayment || 0) |number}}</td>
                <td class="text-center">{{(pendinglBill?.offlinePayment || 0) |number}}</td>
                <td class="text-center">{{(pendinglBill?.paymentSuccess || 0) |number}}</td>
                <td class="text-center">{{(pendinglBill?.paymentPending || 0) |number}}</td>
                <td class="text-center">{{(pendinglBill?.paymentCanceled || 0) |number}}</td>
                <td class="text-center">{{(pendinglBill?.totalPrice || 0) |number}}</td>
                <td class="text-center">{{(pendinglBill?.totalPendingPrice || 0) |number}}</td>
            </tr>
            <tr>
                <td class="txt-bold">Đã huỷ</td>
                <td class="text-center">{{(cancelBill?.totalOnlinePayment || 0) |number}}</td>
                <td class="text-center">{{(cancelBill?.offlinePayment || 0) |number}}</td>
                <td class="text-center">{{(cancelBill?.paymentSuccess || 0) |number}}</td>
                <td class="text-center">{{(cancelBill?.paymentPending || 0) |number}}</td>
                <td class="text-center">{{(cancelBill?.paymentCanceled || 0) |number}}</td>
                <td class="text-center">{{(cancelBill?.totalPrice || 0) |number}}</td>
                <td class="text-center">{{(cancelBill?.totalPendingPrice || 0) |number}}</td>
            </tr>
            <tr>
                <td class="txt-bold">Tổng</td>
                <td class="text-center">{{(data?.totalOnlinePayment || 0) |number}}</td>
                <td class="text-center">{{(data?.offlinePayment || 0) |number}}</td>
                <td class="text-center">{{(data?.paymentSuccess || 0) |number}}</td>
                <td class="text-center">{{(data?.paymentPending || 0) |number}}</td>
                <td class="text-center">{{(data?.paymentCanceled || 0) |number}}</td>
                <td class="text-center">{{(data?.totalPrice || 0) |number}}</td>
                <td class="text-center">{{(data?.totalPendingPrice || 0) |number}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<!-- column -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content class="chart-content">
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title class="txt-bold">Biểu đồ doanh thu tiền mặt / thẻ tín dụng (đơn vị: nghìn vnđ)</mat-card-title>
                        <!-- <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle> -->
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Thẻ tín dụng</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Tiền mặt </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="barchrt" style="height:auto;" *ngIf="barChart1">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options"
                        [responsiveOptions]="barChart1.responsiveOptions" [events]="barChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <!-- <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Our Visitors</mat-card-title>
                <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type"
                        [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-success m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class=" text-info  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class=" text-purple  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div> -->
    <!-- column -->
</div>