<div class="product-container">

    <mat-card class="example-card" *ngFor="let product of dataSource">
        <img mat-card-image [src]="product?.displayImage || 'assets/images/defaults/default-product.jpg'"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-card-title class="product-title block-ellipsis">{{product?.name}}</mat-card-title>
            <!-- <mat-card-subtitle>{{product?.catName}}</mat-card-subtitle> -->
            <!-- <mat-card-subtitle>{{product?.detail}}</mat-card-subtitle> -->
            <mat-card-subtitle>Số lượng: {{product?.amount}} {{product?.amount || 'suất'}}</mat-card-subtitle>

            <!-- <p class="detail block-ellipsis">
                {{product?.detail}}
            </p> -->
            <div class="flex-center" *ngIf="product?.promotionPrice ">
                <span class="price">{{product?.price |number}}</span>&nbsp;
                <span class="promotion-price">{{product?.promotionPrice |number}}</span>&nbsp;
                <span class="unit">vnđ</span>
            </div>
            <div class="flex-center" *ngIf="!product?.promotionPrice ">
                <span class="promotion-price">{{product?.price |number}}</span>&nbsp;
                <span class="unit">vnđ</span>
            </div>

            <div class="flex-center">
                <button mat-mini-fab color="primary" (click)="editProduct(product)">
                    <mat-icon class="mat-icon-btn">edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="removeProduct(product)">
                    <mat-icon class="mat-icon-btn" >delete</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card add-product">
        <mat-card-content>
            <div class="example-button-container">
                <button mat-fab (click)="showModal()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

</div>

<div class="pagination">
    <mat-paginator [length]="lisProduct?.length || 0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)">
    </mat-paginator>
</div>