<div class="product-container">

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="product-title">Đặc sản thịt chó</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="detail">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <span class="price">{{'30000' |number}}</span>&nbsp;
            <span class="promotion-price">{{'20000' |number}}</span>&nbsp;
            <span>vnđ</span>

            <div class="group-button">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card add-product">
        <mat-card-content>
            <div class="example-button-container">
                <button mat-fab (click)="getProduct()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

</div>

<div class="pagination">
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>