/* You can add global styles to this file, and also import other style files */

.form-container{
    display: flex;
    justify-content: flex-start;
    min-width: 500px;
    flex-wrap: wrap;
}
.form-container .mat-form-field + .mat-form-field{
    margin: 8px;
    padding: 8px;
}

.form-container .mff-1{
    padding-left: 1%;
    width: 98%;
}
.form-container .mff-2{
    padding-left: 1%;
    width: 49%;
}


.form-container .mff-3{
    padding-left: 1%;
    width: 32.7%;
}

.error-text{
    color: red;
    font-size: 12px;
}

.block-ellipsis {
    display: inline-block;
    width: 154px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .flex-end{
    display: flex;
    justify-content: flex-end;
  }

  .pointer{
      cursor: pointer;
  }
  pagination-controls {
    padding: 10px;
  
  }

  pagination-controls .current{
    background: #52a1a7 !important;
  }
  